<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lost in the Abysm, RPG Videogame">
  <meta name="keywords" content="Videogame,Steam">
  <link rel="shortcut icon" href="icono.png" />

    <title>Lost in the Abysm</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/business-casual.css">
    <script src="angular.js"></script>
    <script src="localization.js"></script>

  </head>

  <body ng-app="index" ng-controller="indexController">

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      
      <span class="site-heading-lower">Lost in the Abysm</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Lost in the Abysm</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">{{home}}
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="about.html">{{info}}</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="gallery.html">{{gallery}}</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="contact.html">{{contact}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <iframe class="img-fluid intro-img mb-3 mb-lg-0 rounded" width="708" height="400" src="https://www.youtube.com/embed/xXmnvEv4GMk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">{{rpg}}</span>
              <span class="section-heading-lower">{{worth}}</span>
            </h2>
            <p class="mb-3">{{trailer}}
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" target="_blank" href="https://drive.google.com/open?id=19VDkP4WB0fay5uinP9HaM96shWGQYG_L">{{buy}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">{{Copyright}} &copy; Lost in the Abysm</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
